@import '~antd/dist/antd.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 5%;
  text-align: 'center';
}

.center {
  left: 35%;
  position: absolute;
}

.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  position: fixed;
}